<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianyi.dailynews">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".application.MyApplication"
        android:theme="@style/MyAppTheme">
        <!--登录界面-->
        <activity android:name=".ui.account.activity.LoginActivity"
            android:screenOrientation="portrait"
            >

        </activity>
        <!--主界面-->
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <!--注册-->
        <activity android:name=".ui.account.activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <!--提现-->
        <activity android:name=".ui.mine.activity.WithdrawalsActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <!--忘记密码-->
        <activity android:name=".ui.account.activity.ForgetPwdActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <!--WebView 页面-->
        <activity android:name=".ui.WebviewActivity"
            android:screenOrientation="portrait"/>
        <!--唤醒好友-->
        <activity android:name=".ui.invitation.activity.WakeFriendsActivity"
            android:screenOrientation="portrait"/>
        <!--每日分享-->
        <activity android:name=".ui.invitation.activity.DailySharingAcitity"
            android:screenOrientation="portrait"/>
        <!--填写邀请码-->
        <activity android:name=".ui.mine.activity.WriteInvitationActivity"
            android:screenOrientation="portrait"
            />
        <!--设置-->
        <activity android:name=".ui.mine.activity.SettingsActivity"
            android:screenOrientation="portrait"
            />
        <!--修改密码-->
        <activity android:name=".ui.mine.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait"
            />
        <!--赚钱中心-->
        <activity android:name=".ui.mine.activity.MakeMoneyCenterActivity"
            android:screenOrientation="portrait"
            />
        <!--账户明细-->
        <activity android:name=".ui.mine.activity.AccountDetailsActivity"
            android:screenOrientation="portrait"
            />
        <!--home 搜索-->
        <activity android:name=".ui.news.activity.SearchActivity"
            android:screenOrientation="portrait"
            />
        <!--任务中心-->
        <activity android:name=".ui.mine.activity.TaskCenterActivity"
            android:screenOrientation="portrait"
            />
        <!--提现说明-->
        <activity android:name=".ui.mine.activity.WithdrawalsDetailsActivity"
            android:screenOrientation="portrait"
            />
        <!--任务记录-->
        <activity android:name=".ui.mine.activity.TaskRecordActivity"
            android:screenOrientation="portrait"
            />
        <!--提现状态-->
        <activity android:name=".ui.mine.activity.PresentStatusActivity"
            android:screenOrientation="portrait"
            />
        <!--徒弟收入-->
        <activity android:name=".ui.invitation.activity.ApprenticeActivity"
            android:screenOrientation="portrait"
            />
        <!--消息中心-->
        <activity android:name=".ui.Mine.activity.MessageActivity"
            android:screenOrientation="portrait"
            />
        <!--视频播放-->
        <activity android:name=".ui.video.VideoPlayingActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            />
        <!--引导界面-->
        <activity android:name=".ui.account.activity.WelcomeActiity"
            android:screenOrientation="portrait"
            />
        <!--欢迎界面-->
        <activity android:name=".ui.account.activity.SplashActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>